*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

*~		#no temporary files created by text editors
gen/
bin/
*.dex
*.ap[k_]
*.classpath
*.settings/
Todos.lst
local.properties
.DS_Store
.metadata/
test-results/
MMC/i18n/languages/en/*.txt
MMC/i18n/languages/es/*.txt
MMC/i18n/output
MMC/i18n/templates
MMC/res/drawable-hdpi-v9/ic_stat_mmcinactive.png

.gradle
local.properties
MMC/.gradle
MMC/local.properties
MMC/.idea/workspace.xml
MMC/.idea/libraries
MMC/.idea/libraries/*.xml
MMC/build
MMC/app/build
*.iml
MMC/app.iml
build/
MMC/app/.idea/compiler.xml
MMC/app/.idea/copyright/profiles_settings.xml
MMC/app/.idea/misc.xml
MMC/app/.idea/modules.xml
MMC/app/.idea/vcs.xml
MMC/app/.idea/workspace.xml
MMC/app/.idea/gradle.xml
MMC/app/gradle/wrapper/gradle-wrapper.jar
MMC/app/gradle/wrapper/gradle-wrapper.properties
MMC/app/gradlew
MMC/app/gradlew.bat
RilReader/.idea
RilReader/.idea/copyright/*.xml

!mmcsys.apk
